<ion-header>
  <ion-toolbar>
    <ion-title (click)="cerrar">Cerrar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button>
      Tema
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="carg1('Animales')">
        <ion-img src="../assets/animales.jpg"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="carg1('Numeros')">
        <ion-img src="../assets/numeros.jpg"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="carg1('Colores')">
        <ion-img src="../assets/colores.png"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <div>
  
    <ion-button id="btn1" class="vertical" (click)="btn1A()">
        <ion-img src={{img1}}></ion-img>
    </ion-button>

    <ion-button id="btn2" class="vertical" (click)="btn2A()">
        <ion-img src={{img2}}></ion-img>
      </ion-button >

        <ion-button id="btn3" class="vertical" (click)="btn3A()">
        <ion-img src={{img3}}></ion-img>
      </ion-button>

        <ion-button id="btn4"  class="vertical" (click)="btn4A()">
        <ion-img src={{img4}}></ion-img>
      </ion-button>

        <ion-button id="btn5" class="vertical" (click)="btn5A()">
        <ion-img src={{img5}}></ion-img>
      </ion-button>
  </div>
<!-- fab placed to the top end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    Idioma
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="carg2('Espanol')">
      <ion-img src="../assets/españa.jpg"></ion-img>
    </ion-fab-button>
    <ion-fab-button (click)="carg2('Portugues')">
      <ion-img src="../assets/portugues.jpg"></ion-img>
    </ion-fab-button>
    <ion-fab-button (click)="carg2('Ingles')">
      <ion-img src="../assets/Bandera-Reino-Unido-1.jpg"></ion-img>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
