ion-img.vertical{
    height: 9rem;
    
    
}

ion-button.vertical{
  height: 6.8rem;
  border-radius: 0rem;
  margin-left: 30%;
  width: 40%;
}

ion-img.horizontal{
  height: 8rem;
  width: 16rem;   
  
}

ion-button.horizontal{
height: 18%;
margin-top: 30%;
width: 6.8rem;
}




